<section
  id="projects"
  class="scroll-mt-24 md:scroll-mt-20 min-h-screen py-12 bg-gray-50 flex flex-col items-center justify-center dark:bg-gray-900"
>
  <h3 class="text-4xl font-semibold mb-8">Projects</h3>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-8 w-full max-w-6xl px-4 items-stretch"
  >
    <app-project-card
      *ngFor="let project of projects"
      [title]="project.title"
      [description]="project.description"
      [imageUrl]="project.imageUrl"
      [demoUrl]="project.demoUrl"
      [repoUrl]="project.repoUrl"
    ></app-project-card>
  </div>
</section>
