<section
  id="skills"
class="h-screen bg-white flex flex-col items-center justify-center
scroll-snap-align-start bg-white dark:bg-gray-800"
>
  <h3 class="text-4xl font-semibold mb-8">Tech Stack</h3>
  <div class="flex flex-wrap justify-center gap-8">
    <!-- Angular -->
    <div class="flex flex-col items-center">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
        alt="Angular"
        class="w-16 h-16 mb-2"
      />
      <span class="text-gray-700">Angular</span>
    </div>
    <!-- Node.js -->
    <div class="flex flex-col items-center">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
        alt="Node.js"
        class="w-16 h-16 mb-2"
      />
      <span class="text-gray-700">Node.js</span>
    </div>
    <!-- Tailwind CSS -->
    <div class="flex flex-col items-center">
      <img
        src="https://cdn.simpleicons.org/Tailwindcss"
        alt="Tailwind CSS"
        class="w-16 h-16 mb-2"
      />
      <span class="text-gray-700">Tailwind CSS</span>
    </div>
    <!-- AWS -->
    <div class="flex flex-col items-center">
      <img
        src="https://raw.githubusercontent.com/devicons/devicon/refs/tags/v2.16.0/icons/amazonwebservices/amazonwebservices-original-wordmark.svg"
        alt="AWS"
        class="w-16 h-16 mb-2"
      />
      <span class="text-gray-700">AWS</span>
    </div>
  </div>
</section>
