@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
}
@layer base {
  /* Default text */
  body {
    @apply text-gray-800;
  }
  /* Dark mode text */
  body.dark {
    @apply text-gray-200;
  }

  /* Optionally, override headings/paragraphs too */
  h1, h2, h3, h4, h5, h6, p, a, li {
    @apply text-gray-800 dark:text-gray-200;
  }
}
html, body {
  height: 100%;
  overflow-y: auto;
}

